bin
fitnesse/FitNesseRoot/files/testResults
fitnesse/FitNesseRoot/RecentChanges
fitnesse/FitNesseRoot/ErrorLogs
runnerResults
testPropertyFile.txt
folderRunner/reports
folderRunner/tests/files
release
